body {
    background-color:  rgb(0, 207, 255);
    color: white;
}

#signUpDiv {
    display: none;
}

#loginDiv {
    display: none;
}

#passwordError {
    color: red;
}

.errorMessage {
    color: red;
}