/* body {
    background-color: rgb(0, 207, 255);
}

#search_box {
    color: rgb(2, 2, 90);
}

#search_results_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stock_card {
    background-color: #D4E4F7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 20rem;
    margin: 1rem;
    padding: .75rem;
} */