body {
    background-color: rgb(0, 207, 255);
    font-family: 'IBM Plex Serif', serif;
}

#logo {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 1rem 1rem 0 4rem;
}

#logo-name {
    font-size: 6rem;
    margin: 1rem;
    font-weight: bold;
}

img {
    height: 8rem;
    margin: 1rem;
}

#welcomeDiv {
    color: white;
    font-weight: bold;
    margin: 0 1rem 0 5rem;
}

label {
    font-size: 120%;
}

#welcomeMessage {
    font-size: 180%;
    font-weight: bold;
    margin: 0;
}

#stockHeader {
    color: white;
    font-size: 150%;
    margin: 1rem
}

#stockContainer {
    background-color:  rgb(10, 150, 200);
    border: 1rem solid rgb(34, 92, 201);
    border-style: double;
    border-color: black;
    border-radius: 1rem;
    margin: auto 4.5rem;
    padding: 2rem;
}

/* #searchResultContainer {
    background-color: rgb(10, 150, 200);
    border: 1rem solid rgb(34, 92, 201);
    border-style: double;
    border-color: black;
    border-radius: 1rem;
    margin: auto 4.5rem;
    display: none;
} */

#userStockCardDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#searchStockCardDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stockCard {
    background-color: #D4E4F7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 20rem;
    margin: 1rem 1rem;
    padding: .75rem;
}

#logout {
    position: absolute;
    right: 5rem;
    top: 2rem;
    height: 2rem;
    width: 5rem;
    border-radius: 10px;
    font-size: 100%;
    font-weight: bold;
}


