body {
    background-color:  rgb(0, 207, 255);
}

#logo {
    size: 10%;
}

img {
    height: 8rem;
}

#searchResultContainer {
    display: flex;
    justify-content: space-around, flex;
    flex-wrap: wrap;
}

#stockCardDiv {
    display: flex;
    justify-content: space-between, flex;
    flex-wrap: wrap;
}

.stockCard {
    background-color: #D4E4F7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 20rem;
    margin: 1rem;
    padding: .75rem;
}

#logout {
    position: absolute;
    right: 2rem;
    top: 2rem;
    height: 2rem;
    width: 5rem;
    border-radius: 10px;
    font-size: 100%;
    font-weight: bold;
}


